.gates-jerusalem-details-container {
    display: flex;
    gap: 2rem;
    padding: 5rem 2rem;}

.gates-jerusalem-details-container.search {
    padding: 3rem 1.5rem;
}

.gates-jerusalem-details-container .image {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gates-jerusalem-details-container .image img {
    display: block;
    border-radius: 6px;
    width: 100%;
}

.gates-jerusalem-details-container .content {
    flex-basis: 80%;
    text-align: justify;
}

@media (max-width: 767px) {
    .gates-jerusalem-details-container {
        flex-direction: column;
    }

    .gates-jerusalem-details-container .image img {
        width: 60%;
    }
}
.button-container {
    display: flex;
    justify-content: center;
}

.arrow-button {
    border: 0;
    margin: 0.5rem;
    background: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.arrow-button i {
    font-size: 2rem;
    /* Ensure icons are large */
}
.dropdown-menu-inset{
    inset: 0px -128px auto auto ;
}

.dropdown-item-details-styles{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.font-awesom-icon-details-style{
    padding: 3px;
}
a {
    color: blue;
    text-decoration: underline;
}

@media print {
    .no-print {
        display: none !important;
    }

    body {
        -webkit-print-color-adjust: exact;
    }
    .patriarch-details-container{
        width: 100% !important;
        margin: 10px !important;
        min-height: 415px !important;
        background: white !important;
        border: 0 !important;
    }
}
.patriarch-details-container{
    width: 75%;
    margin: 120px auto;
    min-height: 415px;
}
.dropdown-div{
    display: flex;
    flex-direction: row-reverse;
}