.gates-jerusalem-details-container {
    display: flex;
    gap: 2rem;
    padding: 5rem 2rem;}

.gates-jerusalem-details-container.search {
    padding: 3rem 1.5rem;
}

.gates-jerusalem-details-container .image {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gates-jerusalem-details-container .image img {
    display: block;
    border-radius: 6px;
    width: 100%;
}

.gates-jerusalem-details-container .content {
    flex-basis: 80%;
    text-align: justify;
}

@media (max-width: 767px) {
    .gates-jerusalem-details-container {
        flex-direction: column;
    }

    .gates-jerusalem-details-container .image img {
        width: 60%;
    }
}
.button-container {
    display: flex;
    justify-content: center;
}

.arrow-button {
    border: 0;
    margin: 0.5rem;
    /* Assuming m-2 corresponds to a margin of 0.5rem */
    background: none;
    /* Optional: to remove default button background */
    padding: 1rem;
    /* Increase padding to make buttons larger */
    cursor: pointer;
    /* Optional: to change cursor on hover */
    font-size: 2rem;
    /* Increase font size to make icons larger */
}

.arrow-button i {
    font-size: 2rem;
    /* Ensure icons are large */
}
