/* .sort-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 1rem 0;
}

.sort-box button {
    margin: 0;
    border: none;
    border-radius: 6px;
    padding: 1rem;
    background: var(--main-color);
    color: #fff;
}

.sort-box button:hover {
    background: var(--secondary-color);
}

.gates-jerusalem-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 0 2rem;
    margin: 1rem 0;
}

.gates-jerusalem-box {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 100%;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.gates-jerusalem-box:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media (max-width: 767px) {
    .gates-jerusalem-container {
        grid-template-columns: auto;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .gates-jerusalem-container {
        grid-template-columns: auto auto;
    }
} */

.tox-promotion{
    display: none;
}
.tox-statusbar__right-container{
    display: none !important;
}

@media (max-width: 991px) {
    .card-w-90 {
        width: 100% !important;
    }
}


@media (max-width: 767px) {
    .card-w-90 {
        width: 100% !important;
    }
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.map-container {
    position: relative;
    width: 480px;
    height: 640px;
    background-image: url('../../../media/img/map.png');
    background-size: cover;
    background-position: center;
}

.gate a{
    color: white;
    text-decoration: none;
}
.gate {
    position: absolute;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 2px #fff;
}

.gate:hover {
    text-decoration: underline;
}

.map-container .gate:nth-child(1) {
    top: 86.5%;
    left: 30%;
}

.map-container .gate:nth-child(2) {
    top: 6.5%;
    left: 69%;
}

.map-container .gate:nth-child(3) {
    top: 13%;
    left: 11%;
}

.map-container .gate:nth-child(4) {
    top: 24%;
    left: 74%;
}

.map-container .gate:nth-child(5) {
    top: 29.5%;
    left: 74%;
}

.map-container .gate:nth-child(6) {
    top: 83.5%;
    left: 62%;
}

.map-container .gate:nth-child(7) {
    top: 60%;
    left: 68%;
}

.map-container .gate:nth-child(8) {
    top: 23.5%;
    left: 1%;
}

.map-container .gate:nth-child(9) {
    top: 56%;
    left: 30%;
}

.map-container .gate:nth-child(10) {

    top: 14.5%;
    left: 75%;
}

.map-container .gate:nth-child(11) {
    top: 29%;
    left: 3%;
}

.map-container .gate:nth-child(12) {
    top: 6%;
    left: 38%;
}

.gate-pdf {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 2px #fff;
    left: 3%;
    position: absolute;
    top: 1%;
}

.gate-word {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 2px #fff;
    left: 20%;
    position: absolute;
    top: 1%;
}

@media print {
    .no-print {
        display: none;
    }

    body {
        -webkit-print-color-adjust: exact;
    }


}

