:root {
    --main-color: #3b82f6;
    --secondary-color: #2563eb;
    --light-color: #60a5fa;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
    overflow-x: hidden !important;
    
}

a {
    color: #0000FF;
    text-decoration: none;
}

.scroller {
    background-color: #0075ff;
        height: 4px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        
}


@media only screen and (max-width: 768px) {
.footer{
    width: 100% !important;
    position: sticky !important;
}
.container-xl-profile {
    height: fit-content !important;
}
body {
    overflow-x: hidden;
    width: 100% !important;
    max-width: 100% !important;
}
*{
    box-sizing: border-box !important;
}
.navbar,
.map-container {
    width: 100% !important;
}
.link-gates-jerusalem{
    margin-left: 1px !important;
}
.input-group-text-icon{
    font-size: xx-large !important;
}
.patriarch-details-container{
    margin-bottom: 0 !important;
    width: 100% !important;
    margin: 0 auto !important;
}
.dropdown-menu-inset{
    inset: 0px 136px auto auto !important;
}
svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa{
    font-size: 27px;}

}
