.up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, Tahoma, sans-serif;
    cursor: pointer;
    transition: 0.2s;
    z-index: 2222 !important;
}

.up.show {
    opacity: 1;
}

footer {
    padding: 43px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

footer a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width: 767px) {
    footer .links {
        text-align: center;
        padding-bottom: 20px;
    }
}

footer .social-links {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer .social-links a {
    display: inline-block;
    text-align: center;
    border-radius: 50%;     
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid white;
    color: #fff;
}

@media (max-width: 991px) {
    footer .social-links {
        margin-top: 20px;
    }
}

footer .copyright {
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
    margin-bottom: 0;
}
        .nav-active-link {
            color: var(--main-color) !important;
        }
    
        .font-footer {
            color: #fff;
            font-family: 'Cairo', sans-serif;
        }
    
        .social ul li.in a {
            color: #df588a;
        }
    
        .social ul li.fb a {
            color: blue;
        }
    
        .social ul li.wa a {
            color: green;
        }
    
        .social ul {
            display: inline-block;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
    
        .social-icon {
            margin: 0;
            padding: 0;
            display: flex;
        }
    
        .social-icon li {
            list-style: none;
            margin: 0 15px;
        }
    
        .social-icon li a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 63px;
            background: #333;
            border-radius: 50%;
            font-size: 30px;
            color: #666;
            transition: .5s;
        }
    
        .social-icon li a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #ffee10;
            transition: .5s;
            transform: scale(.9);
            z-index: -1;
        }
    
        .social-icon li a:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 15px #ffee10;
        }
    
        .social-icon li .wa:hover {
            color: #25D366;
            box-shadow: 0 0 5px #25D366;
            text-shadow: 0 0 5px #25D366;
    
        }
    
        .social-icon li .fb:hover {
            color: #2984fe;
            box-shadow: 0 0 5px #4267B2;
            text-shadow: 0 0 5px #4267B2;
    
        }
    
        .social-icon li .em:hover {
            color: #ffffff;
            box-shadow: 0 0 5px #ffee10;
            text-shadow: 0 0 5px #ffee10;
        }

        .footer-ul-style{
            padding: 0;
            margin: 0;
            justify-content: center;
        }

        .footer-li{
            padding: 10px;
        }
        .copyright{
            font-size: 20px;
        }

        .text-white-footer{
            text-decoration: none;
        }
        
        .text-white-footer:hover{
            color: var(--main-color) !important;
        }